/*div*/
.container{
    border-radius: 10px;
    border-style: outset;
    border-color: springgreen;
    border-width: 5px;
    margin-top: 30px;
}

/*MENU*/
#barra-menu{
    background-color:deepskyblue;
}

#barra-menu a{
    color:white;
}

#boton-color{
    background: #20df50;
    color: white;
    border: none;
}

/*carrito*/
#carrito{
    position: relative;
    right: -10px;
    height: 30px;
    width: 30px;
}

/*SELECTOR DE CATEGORIAS*/
.custom-select{
    margin-top: 25px;
    border-radius: 10px;
}

#nombre{
    margin-top: 10px;
}

#idCategoria{
    margin-top: 5px;
}

/*BUSCADOR DE ARCHIVOS*/
#file-input{
    margin-top: 20px;
    left: 5%;
    background-color: transparent;
    border: none; 

}

#imgSalida{
    margin-top: 20px;
    background: url(https://img.icons8.com/metro/26/000000/upload.png) no-repeat center; 
}

/*CAMPOS A LLENAR*/
.form-group{
    margin-top: 25px;
    border-radius: 10px;
}

#contenedor{
    margin-bottom: 50px;
}

