<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!--MENÚ-->
  <div>
    <nav class="navbar navbar-expand-lg" id="barra-menu">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/home"><strong>BLOC</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/venta">Vender</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorías
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/login">Cerrar Sesión</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
              <button id="boton-color" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </div>

<!--FORMULARIO PARA EDITAR-->
<div class="container">
  
  <form (ngSubmit)="onSubmit(idPut);" #putForm="ngForm">  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="user-new">Nombre de usuario:</label>
        <input type="number" placeholder="id" #idPut (change)="onchange($event)" name="idPut" min="1" required/><br/>
        <input type="text" class="form-control" #nombreUsuario2 name="nombreUsuario2" id="edit-nombre" placeholder="Editar" [(ngModel)]="modificarDatos.nombreUsuario">
      </div>
      <div class="form-group col-md-6">
        <label for="password-new">Contraseña:</label>
        <input type="password" class="form-control" id="edit-password" placeholder="Nueva contraseña"  #contras2 name="contras2" [(ngModel)]="modificarDatos.contras">
      </div>
      <div class="form-group col-md-6">
        <label for="telephone-new">Teléfono:</label>
        <input type="number" class="form-control" id="edit-telephone" placeholder="Nuevo teléfono" #telefono name="telefono"  [(ngModel)]="modificarDatos.telefono">
      </div>
      <div class="form-group col-md-6">
        <label for="email-new">Numero departamento:</label>
        <input type="text" class="form-control" id="edit-email" placeholder="Editar." #numeroDepartamento name="numeroDepartamento" [(ngModel)]="modificarDatos.numeroDepartamento" >
      </div>
      <button id="boton-editar" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
</body>
</html>
