<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="card" class="card border-success mb-5">
    <img src="../../assets/images/imagen 3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Descripción completa del articulo.</p>
    </div>
    <ul id="lista" class="list-group list-group-flush">
      <li class="list-group-item">Aqui el precio</li>
      <li class="list-group-item">Aqui el nombre del vendedor</li>
      <li class="list-group-item">Aqui el numero de telefono del vendedor</li>
      <li class="list-group-item">Aqui la ubicacion del vendedor</li>
      <li class="list-group-item">Estado</li>
    </ul>
    <div class="card-body">
      <button onclick="alert('Haz comprado el artículo!')" class="card-link">Comprar</button>
      <button (click)="salirHome()" class="card-link">Cancelar</button>
    </div>
  </div>  
</body>
</html>