/*MENU*/
#barra-menu{
    background-color:deepskyblue;
}

/*letras del menu*/
#barra-menu a{
    color:white;
}

/*boton del menu*/
#boton-color{
    background: #20df50;
    color: white;
    border: none;
}

/*carrito*/
#carrito{
    position: relative;
    right: -10px;
    height: 30px;
    width: 30px;
}
