body{ 
    background-size: cover;
    font-family: sans-serif;
}

/*MENU*/
#barra-menu{
    background-color:deepskyblue;
}

/*letras del menu*/
#barra-menu a{
    color:white;
}

/*boton del menu*/
#boton-color{
    background: #20df50;
    color: white;
    border: none;
}

/*carrito*/
#carrito{
    position: relative;
    right: -10px;
    height: 30px;
    width: 30px;
}


/*CAROUSEL*/
.carousel-inner, .imagen1, .imagen2, .imagen3{
    width: 1300px;
    height: 400px;
    left: 20px;
}

/*TARJETA*/
#idtarjeta{
    height: 15px;
}

.card{
   position: relative;
   left: 20px;
   box-shadow: 5px 5px 5px grey;
}

/*boton del detalle*/
#Dbutton{
    background: #20df50;
    border: none;
}

